div.login-form {
  text-align: center;
  display: block;
  width: 300px;
  margin: 0 auto;
  background-color:#b0c4de;
  border: 2px solid #191970;
}

#resist{
  text-align: center;
  font-size: 150%;
}