<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/public/css/cssforchatroom.css">
    <title>マイページ</title>
</head>
<body>
  <p class="back-to-mypage"><a href="/mypage">マイページに戻る</a></p>
  <form class="delete" action="" method="post">
    <p><input type="submit" value="このルームを削除する" name="delete-room"></p>
  </form>
  
  <div class="chat-space">
  <h2>投稿一覧</h2>
  <form class="new-post" action="" method="POST" target="sendPhoto">
    <p><input type="text" id="chat" name="chat" placeholder="新規投稿(英数字、255文字以内)"></p>
    <p><button onclick="send();" id="chat">メッセージを送る</button></p>
  </form>
  <ul id="chats">
    {{range .}}
      <li><div>{{.Chat}}　(投稿者：{{.Chatroom.UserId}}　投稿日：{{.PostDt}})</div></li>
    {{end}}
  </ul>
  </div>
  <iframe name="sendPhoto" style="width:0px;height:0px;border:0px;"></iframe>

  

  <script>
    var socket = null;
    var data = "";
    var wsuri = "ws://localhost/wsserver";
    window.onload = function() {
        socket = new WebSocket(wsuri);

        var url = location.href;
        var roomid = url.replace("http://localhost/mypage/chatroom","");
        var cookie = document.cookie;
        console.log(cookie)
        
        socket.onopen = function() {
          console.log("connected");
          class　Newchat {
            constructor(id, userid, roomname, member, chat, postdt){
              this.id = id;
              this.userid = userid;
              this.roomname = roomname;
              this.member = member;
              this.chat = chat;
              this.postdt = postdt;
            }
          }
        var roomname = {{.}}[0].Chatroom.roomName;
        var userid = {{.}}[0].Chatroom.userId;
        var member = {{.}}[0].Chatroom.member;
        var postdt = Date.now();
        var chat = "first contact";
        const newchat = new Newchat(roomid, userid, roomname, member, chat, postdt);
        socket.send(JSON.stringify(newchat));
        console.log(JSON.stringify(newchat));
        }
        socket.onmessage = function(e) {
          console.log("message recieved" + e.data);
          var chatobj = JSON.parse(e.data)
          var text = document.createTextNode(chatobj.chat + '　(投稿者：' + chatobj.userid + '　投稿日：' + chatobj.postdt + ')')
          var newLi = document.createElement("li");
          newLi.appendChild(text);
          var chatList = document.getElementById("chats")
          chatList.appendChild(newLi);
        }
        socket.onclose = function(e) {
          console.log("connection closed");
        }
      };
      
      function send() {
          class　Newchat {
            constructor(id, userid, roomname, member, chat, postdt, cookie){
              this.id = id;
              this.userid = userid;
              this.roomname = roomname;
              this.member = member;
              this.chat = chat;
              this.postdt = postdt;
              this.cookie = cookie;
            }
          }

          var url = location.href;
          var roomid = url.replace("http://localhost/mypage/chatroom","");
          
          var chat = document.getElementById('chat').value;
          if (chat == "") {
            window.alert("チャットが入力されていません");
            return;
          };
          
          var roomname = {{.}}[0].Chatroom.roomName;
          var userid = {{.}}[0].Chatroom.userId;
          var member = {{.}}[0].Chatroom.member;
          var postdt = Date.now();
          
          var cookie = document.cookie;
          const newchat = new Newchat(roomid, userid, roomname, member, chat, postdt, cookie);

          socket.send(JSON.stringify(newchat));
          console.log(JSON.stringify(newchat));
        };
  </script>
</body>
</html>

