<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/public/css/cssoflogin.css">
    <title>ログイン画面</title>
</head>
<body>
  <div class="login-form">
  <form action="" method="post">
      <p id="userId">ユーザーID：<input type="text" id="userId" name="userId"></p>
      <p id="password">パスワード：<input type="password" id="password" name="password"></p>
      <p><input type="submit" value="ログイン" id="login" name="login"></p>
  </form>
  </div>
  <a href="resistration" id="resist">新規登録はこちら</a>
</body>
</html>

<style>
body {background-color:#330033;}


div.login-form {
  text-align: center;
  display: block;
  width: 300px;
  margin: 0 auto;
  background-color:#b0c4de;
  border: 2px solid #191970;
}

#resist{
  text-align: center;
  font-size: 150%;
}
</style>